article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
main,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *display: inline;
    *zoom: 1;
  }
}

audio:not([controls]) {
  display: none;
  height: 0;
}

input[hidden] {
  display: none;
}

html {
  font-size: $base-fontsize;
  font-family: $font-main;
  line-height: $base-lineheight;
  background: $color-bg;
  color: $color-text;
  height: 100%;
  @media only screen and (orientation: landscape), (orientation: portrait){
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}

@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  button,
  input,
  select,
  textarea {
    font-family: $font-main;
  }
}

body {
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

// links
a {
  color: $link-color;
  text-decoration: underline;
  -webkit-tap-highlight-color: rgba($black,0);

  &:visited {
    color: $link-colorV;
  }
  &:hover {
    color: $link-colorH;
  }
  &:focus {
    color: $link-colorF;
    outline: thin dotted;
  }
  &:active {
    color: $link-colorA;
  }
  &:hover, &:active {
    outline: 0;
  }
}

// headlines

h1 {
  @include font($source-sans, 32px, 600);
  color: $color-h1;

  @media only screen and (min-width: 610px) {
    @include font($source-sans, $h1-fontsize, 600);
  }
}

h2 {
  @include font($source-sans, 24px, 600);
  color: $color-h2;

  @media only screen and (min-width: 610px) {
    @include font($source-sans, $h2-fontsize, 600);
  }
}

h3 {
  @include font($source-sans, 18px, 600);
  color: $color-h3;
  text-transform: uppercase;
  margin-bottom: 0;

  @media only screen and (min-width: 610px) {
    @include font($source-sans, $h3-fontsize, 600);
    margin-bottom: 0;
  }

}

h4 {
  @include font($source-sans, 16px, 600);
  color: $color-h4;

  @media only screen and (min-width: 610px) {
    @include font($source-sans, $h4-fontsize, 600);
  }
}

h5 {
  @include font($source-sans, 14px, 600);
  color: $color-h5;

  @media only screen and (min-width: 610px) {
    @include font($source-sans, $h5-fontsize, 600);
  }
}

h6 {
  @include font($source-sans, 12px, 600);
  color: $color-h6;

  @media only screen and (min-width: 610px) {
    @include font($source-sans, $h6-fontsize, 600);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;

  > a {
    font-size: 1em;
    text-decoration: none;
  }
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em em($indent-amount);
}

dfn {
  font-style: italic;
  // edit swo for barrier free navigations
  @extend .visuallyhidden;
}
hr {
    @include box-sizing(content-box);
    height: 0;
}

mark {
  background: $color-mark;
  color: $black;
}

p,
pre {
  //margin: rhythm(1) 0
  // edit swo
  margin: 0 0 em($base-fontsize * $base-lineheight);
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  @if $legacy-support-for-ie6 {
    _font-family: "courier new", monospace;
  }
}

pre {
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      white-space: pre;
      white-space: pre-wrap;
      word-wrap: break-word;
  }
  @else {
      white-space: pre-wrap;
  }
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
    margin: 0 0 1em;
}

dd {
    margin: 0 0 0 em($indent-amount);
}

@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  menu,
  ol,
  ul {
      padding: 0 0 0 em($indent-amount);
  }
}

nav ul,
nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
  @if $legacy-support-for-ie7 {
    list-style-image: none;
  }
}

img {
  border: 0;
  vertical-align: bottom; //remove gap under image

  @if $legacy-support-for-ie7 or $legacy-support-for-ie8 {
    -ms-interpolation-mode: bicubic;
  }
  @if $responsive {
    max-width: 100%;
    height: auto;
  }
}

svg:not(:root) {
  overflow: hidden;
}

::-moz-selection {
  background: $color-text;
  color: $white;
}
::selection {
  background: $color-text;
  color: $white;
}

figure {
  margin: 0;
}

@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  form {
      margin: 0;
  }
}

fieldset {
  border: none;
  margin: 0;
}

legend {
  border: 0;
  padding: 0;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *margin-left: -7px;
  }
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    vertical-align: baseline;
    *vertical-align: middle;
  }
}

button,
input {
  line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;

  // reset button bg and radius in FF for Android
  border-radius: 0;
  background-image: none;

  @if $legacy-support-for-ie7 {
    *overflow: visible;
  }
}


button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  @include box-sizing(border-box);
  padding: 0;
  @if $legacy-support-for-ie7 {
    *height: 13px;
    *width: 13px;
  }
}

input[type="search"] {
  -webkit-appearance: textfield;
  @include box-sizing(content-box);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=file] > input[type=button]::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

