@import "font-stack";		// load font-stacks

// compass global variables
$experimental-support-for-khtml: false;
$experimental-support-for-svg:   true;
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

// additional variables
$responsive:      true          !default;	// responsive project
$modernizr:       true          !default;	// use modernizr for css

// customers colors
$color-brand1:    #FF8700       !default;	// orange
$color-brand2:    black         !default;	// black

// default colors
$white:           white         !default;
$black:           black         !default;
$darkergrey:      #333          !default;
$darkgrey:        #666          !default;
$grey:            #999          !default;
$lightgrey:       #ccc          !default;
$lightergrey:     #f0f0f0       !default;

// site wide colors
$color-bg:        $white        !default;
$color-main:      $color-brand1 !default;
$color-secondary: #31373a       !default;
$color-text:      #646464       !default;

$color-highlight: $color-brand1 !default;
$color-alert:     red           !default;
$color-success:   #5da423       !default;
$color-mark:      yellow        !default;

$color-bodyBg:    $color-bg     !default;
$color-headerBg:  $color-brand1 !default;
$color-footerBg:  $black        !default;

// gradient colors
$color-gradient1: $lightgrey    !default;
$color-gradient2: $lightergrey  !default;

// Headline colors
$color-h1:    $color-text       !default;
$color-h2:    $color-text       !default;
$color-h3:    $color-main       !default;
$color-h4:    $color-main       !default;
$color-h5:    $color-main       !default;
$color-h6:    $color-main       !default;

// Link colors
$link-color:  $color-brand2     !default;
$link-colorV: $color-brand2     !default;
$link-colorH: $color-brand2     !default;
$link-colorF: $color-brand2     !default;
$link-colorA: $color-brand2     !default;

// Font settings
$font-main:       sans-serif    !default;	// $helvetica-font-stack
$font-alternate:  serif         !default;	// $cambria-font-stack
$base-fontsize:   16px          !default;
$base-lineheight: 1.5           !default;
$base-height:     $base-fontsize * $base-lineheight !default;

$webfont:         true          !default;
$source-sans:     'Source Sans Pro', $font-main !default;

$h1-fontsize:     54px          !default;
$h2-fontsize:     36px          !default;
$h3-fontsize:     24px          !default;
$h4-fontsize:     16px          !default;
$h5-fontsize:     14px          !default;
$h6-fontsize:     12px          !default;

$giga-fontsize:  117px          !default;
$mega-fontsize:   90px          !default;
$kilo-fontsize:   72px          !default;
$milli-fontsize:  10px          !default;
$micro-fontsize:   9px          !default;

$padding:          1em          !default;
$indent-amount:   40px          !default;

$total-width:     100%          !default;
$containerMin:     1px          !default;
$containerMax:   960px          !default;

// global breakpoints
$tiny:           319px          !default;
$small:          450px          !default;
$middle:         610px          !default;
$large:          980px          !default;
$jsenhanced:     768px          !default;
